.article-card {
  align-items: center;
  border: .25rem solid black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  /* height: 15rem; */
  width: 15rem;
}

.article-card img {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
}